accelerate==0.27.2
billboard.py==7.0.1
bitsandbytes==0.42.0
datasets==2.17.0
evaluate==0.4.1
fastapi==0.108.0
gensim==4.3.2
pandas==2.1.4
pydantic==2.5.3
regex==2023.5.5
requests==2.31.0
requests-mock==1.11.0
responses==0.18.0
scipy==1.10.0
transformers==4.37.2
trl==0.7.11
uvicorn==0.25.0

